
// Global dividers
$panel-title-divider: $col-content-lighter solid 1px !default;
$panel-row-divider: $body-bg solid 1px !default;

// Global spacing
$pane-field-padding: 0.5em 5px;

// Global border styles
$divider-line-row: solid 1px $col-content-lightest;

// Global typography
// Headings
// Fields & metadata
// Body content
